.idea/
.venv
.venv/
  __pycache__/
.env
.env/
playwright/.auth/storage_state.json
playwright/.google_profile/
/playwright

# Playwright auth files
auth.json
storage_state.json
playwright/.auth/
*.json
!package.json
